.menu-container {
  position: absolute;
  z-index: 3;
  left: 95%;
  top: 5%;
  cursor: pointer;
}

.menu-container h6 {
  font-weight: 300;
}

.menu-container h6 .text {
  margin-left: 0.5rem;
  font-size: 1.7rem;
}

.menu-container h6 .hamburger {
  width: 0.2rem;
  height: 2.5rem;
  background-color: white;
  position: absolute;
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
  margin-right: 1rem;
}

.menu-container h6 .hamburger::after {
  content: "";
  background-color: white;
  width: 0.2rem;
  position: absolute;
  height: 2.5rem;
  -webkit-transform: translateX(-1.5rem);
          transform: translateX(-1.5rem);
  -webkit-transition: 0.3s -webkit-transform ease-in;
  transition: 0.3s -webkit-transform ease-in;
  transition: 0.3s transform ease-in;
  transition: 0.3s transform ease-in, 0.3s -webkit-transform ease-in;
}

.menu-container h6 .hamburger::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 0.2rem;
  height: 2.5rem;
  -webkit-transform: translateX(-0.7rem);
          transform: translateX(-0.7rem);
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}

.menu-container:hover .hamburger::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container:hover .hamburger::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-options {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(3deg, #6c63ff, #d53f7e);
  z-index: 2;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 1s cubic-bezier(0.75, 0, 0.25, 1);
  transition: 1s cubic-bezier(0.75, 0, 0.25, 1);
  max-width: 100vw;
}

.menu-options.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu-options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 30%;
  width: 20%;
  height: 100vh;
}

.menu-options ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 3rem;
  opacity: 0.5;
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

.menu-options ul li:not(:last-child) {
  margin-bottom: 3rem;
}

.menu-options ul li .cool-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.menu-options ul li .cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.menu-options ul li .cool-link:hover::after {
  width: 100%;
}

.menu-options ul li:hover {
  opacity: 1;
}

.menu-options .sideline {
  width: 18%;
  height: 2rem;
  position: relative;
  top: 50%;
  left: 5%;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 768px) {
  .menu-container {
    top: 5%;
    left: 90%;
    cursor: pointer;
  }
  .menu-container h6 .text {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  .menu-container h6 .hamburger {
    width: 0.2rem;
    height: 2.7rem;
    margin-right: 1rem;
  }
  .menu-container h6 .hamburger::after {
    width: 0.2rem;
    height: 2.7rem;
  }
  .menu-container h6 .hamburger::before {
    width: 0.2rem;
    height: 2.7rem;
  }
  .menu-options ul {
    margin-left: 50%;
    margin-top: -10%;
  }
  .menu-options ul li {
    font-size: 3rem;
  }
  .menu-options ul li:not(:last-child) {
    margin-bottom: 3rem;
  }
  .menu-options .sideline {
    width: 40%;
    top: 37%;
  }
}

@media only screen and (max-width: 425px) {
  .menu-container {
    top: 5%;
    left: 85%;
    cursor: pointer;
  }
  .menu-container h6 .text {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
  .menu-container h6 .hamburger {
    width: 0.2rem;
    height: 2.2rem;
    margin-right: 1rem;
  }
  .menu-container h6 .hamburger::after {
    width: 0.2rem;
    height: 2.2rem;
  }
  .menu-container h6 .hamburger::before {
    width: 0.2rem;
    height: 2.2rem;
  }
  .menu-options ul {
    margin-left: 40%;
    margin-top: -15%;
  }
  .menu-options ul li {
    font-size: 2.8rem;
  }
  .menu-options ul li:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .menu-options .sideline {
    width: 30%;
    top: 37%;
  }
}

@media only screen and (max-width: 375px) {
  .menu-container {
    top: 5%;
    left: 85%;
    cursor: pointer;
  }
  .menu-container h6 .text {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
  .menu-container h6 .hamburger {
    width: 0.2rem;
    height: 2.2rem;
    margin-right: 1rem;
  }
  .menu-container h6 .hamburger::after {
    width: 0.2rem;
    height: 2.2rem;
  }
  .menu-container h6 .hamburger::before {
    width: 0.2rem;
    height: 2.2rem;
  }
  .menu-options ul {
    margin-left: 40%;
    margin-top: -20%;
  }
  .menu-options ul li {
    font-size: 2.5rem;
  }
  .menu-options ul li:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .menu-options .sideline {
    width: 30%;
    top: 37%;
  }
}

@media only screen and (max-width: 320px) {
  .menu-container {
    top: 5%;
    left: 83%;
    cursor: pointer;
  }
  .menu-container h6 .text {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
  .menu-container h6 .hamburger {
    width: 0.2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  .menu-container h6 .hamburger::after {
    width: 0.2rem;
    height: 2rem;
  }
  .menu-container h6 .hamburger::before {
    width: 0.2rem;
    height: 2rem;
  }
  .menu-options ul {
    margin-left: 40%;
    margin-top: -30%;
  }
  .menu-options ul li {
    font-size: 2rem;
  }
  .menu-options ul li:not(:last-child) {
    margin-bottom: 2rem;
  }
  .menu-options .sideline {
    width: 28%;
    top: 35%;
    left: 5%;
  }
}
/*# sourceMappingURL=Menu.css.map */