/* 
    This CSS file was created by OwL for use by pointer.js, 
     witch can be found on https://seattleowl.com. 
*/

#pointer-ring {
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  position: fixed;
  border-radius: 50%;
  background-color: white;
  z-index: 5;
  pointer-events: none;
}
