.main-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  z-index: 2;
  position: absolute;
}

.main-container .left {
  background-color: white;
}

.main-container .left h2 {
  color: black;
  font-size: 7rem;
  text-align: center;
  margin-top: 5rem;
}

.main-container .left .paragraph {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1.5fr;
      grid-template-columns: 1.5fr 1.5fr;
}

.main-container .left .paragraph .para-left {
  color: black;
  margin: 13rem 0;
  width: 100%;
  padding: 0 5rem;
}

.main-container .left .paragraph .para-left h4 {
  color: #9f2013;
  font-size: 3rem;
  text-transform: uppercase;
}

.main-container .left .paragraph .para-left p {
  margin-top: 1rem;
  font-size: 2rem;
}

.main-container .left .paragraph .para-left .quote {
  margin-top: 10rem;
}

.main-container .left .paragraph .para-left .quote p {
  color: black;
  font-size: 4rem;
  font-weight: bold;
}

.main-container .left .paragraph .para-right {
  color: black;
  margin: 13rem 0;
  width: 100%;
  padding-right: 5rem;
}

.main-container .left .paragraph .para-right h4 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.main-container .left .paragraph .para-right p {
  font-size: 1.8rem;
  margin-top: 3rem;
  color: gray;
  word-spacing: 0.2rem;
}

.main-container .right {
  background-color: #9f2013;
}

.main-container .right .close {
  position: -webkit-sticky;
  position: sticky;
  top: 80vh;
}

.main-container .right .close p {
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .main-container .left h2 {
    font-size: 4rem;
    margin-top: 4rem;
  }
  .main-container .left .paragraph {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .main-container .left .paragraph .para-left {
    padding: 0 4rem;
  }
  .main-container .left .paragraph .para-left h4 {
    font-size: 1.5rem;
  }
  .main-container .left .paragraph .para-left p {
    margin-top: 0.7rem;
    font-size: 1.3rem;
  }
  .main-container .left .paragraph .para-left .quote {
    margin-top: 3rem;
  }
  .main-container .left .paragraph .para-left .quote p {
    font-size: 1.7rem;
  }
  .main-container .left .paragraph .para-right {
    padding-right: 3rem;
  }
  .main-container .left .paragraph .para-right h4 {
    font-size: 1.8rem;
  }
  .main-container .left .paragraph .para-right p {
    font-size: 1.1rem;
    margin-top: 1rem;
    word-spacing: 0.2rem;
  }
  .main-container .right .close p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 425px) {
  .main-container .left h2 {
    font-size: 3.5rem;
    margin-top: 3rem;
  }
  .main-container .left .paragraph {
    display: block;
    margin-top: -6rem;
  }
  .main-container .left .paragraph .para-left {
    padding: 0 2rem;
  }
  .main-container .left .paragraph .para-left h4 {
    font-size: 1.8rem;
  }
  .main-container .left .paragraph .para-left p {
    margin-top: 0.7rem;
    font-size: 1.5rem;
  }
  .main-container .left .paragraph .para-left .quote {
    margin-top: 3rem;
  }
  .main-container .left .paragraph .para-left .quote p {
    font-size: 1.7rem;
  }
  .main-container .left .paragraph .para-right {
    padding: 1.5rem;
    margin-top: -7rem;
  }
  .main-container .left .paragraph .para-right h4 {
    font-size: 2rem;
  }
  .main-container .left .paragraph .para-right p {
    font-size: 1.2rem;
    margin-top: 1rem;
    word-spacing: 0.3rem;
  }
  .main-container .right .close p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .main-container .left h2 {
    font-size: 2.2rem;
    margin-top: 3rem;
  }
  .main-container .left .paragraph {
    display: block;
    margin-top: -6rem;
  }
  .main-container .left .paragraph .para-left {
    padding: 0 1.2rem;
  }
  .main-container .left .paragraph .para-left h4 {
    font-size: 1.4rem;
  }
  .main-container .left .paragraph .para-left p {
    margin-top: 0.7rem;
    font-size: 1.3rem;
  }
  .main-container .left .paragraph .para-left .quote {
    margin-top: 3rem;
  }
  .main-container .left .paragraph .para-left .quote p {
    font-size: 1.5rem;
  }
  .main-container .left .paragraph .para-right {
    padding: 1.5rem;
    margin-top: -7rem;
  }
  .main-container .left .paragraph .para-right h4 {
    font-size: 1.8rem;
  }
  .main-container .left .paragraph .para-right p {
    font-size: 1.2rem;
    margin-top: 1rem;
    word-spacing: 0.3rem;
  }
  .main-container .right .close p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=AboutUs.css.map */