.main-container {
  width: 100%;

  z-index: 2;
  position: absolute;
  overflow: hidden;
  background-color: white;
  & .left {
    h2 {
      color: black;
      font-size: 7rem;
      text-align: center;
      margin-top: 2.5rem;
      padding-top: 5rem;
    }
    & .paragraph {
      display: grid;
      grid-template-columns: 1.5fr 1.5fr;

      & .para-left {
        color: black;
        margin: 13rem 0;
        width: 100%;
        padding: 0 5rem;
        h4 {
          color: #9f2013;
          font-size: 3rem;
          text-transform: uppercase;
        }
        p {
          margin-top: 1rem;
          font-size: 2rem;
        }

        & .quote {
          margin-top: 10rem;

          p {
            color: black;
            font-size: 3rem;
            font-weight: bold;
          }
        }
      }
      & .para-right {
        & .partners {
          display: flex;
          flex: 1 1 auto;
          flex-wrap: wrap;
          gap: 20px;
        }
        color: black;
        margin: 13rem 0;
        width: 100%;
        padding-right: 5rem;
        h4 {
          font-size: 2.5rem;
          text-transform: capitalize;
        }
        p {
          font-size: 1.8rem;
          margin-top: 3rem;
          color: gray;
          word-spacing: 0.2rem;

          & img {
            margin-right: 10px;
            display: block;
            width: 70px;
            height: 70px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
  & .right {
    background-color: #9f2013;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    & .left {
      h2 {
        font-size: 4rem;
        margin-top: 4rem;
      }
      & .paragraph {
        grid-template-columns: 50% 50%;

        & .para-left {
          padding: 0 4rem;
          h4 {
            font-size: 1.5rem;
          }
          p {
            margin-top: 0.7rem;
            font-size: 1.3rem;
          }

          & .quote {
            margin-top: 3rem;

            p {
              font-size: 1.7rem;
            }
          }
        }
        & .para-right {
          padding-right: 3rem;

          h4 {
            font-size: 1.8rem;
          }
          p {
            font-size: 1.1rem;
            margin-top: 1rem;
            word-spacing: 0.2rem;
          }
        }
      }
    }
    & .right {
      background-color: white;
      & .close {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .main-container {
    & .left {
      h2 {
        font-size: 3.5rem;
        margin-top: 3rem;
      }
      & .paragraph {
        // grid-template-columns: 50% 50%;
        // gap: 0.5rem;
        display: block;
        margin-top: -6rem;

        & .para-left {
          padding: 0 2rem;
          h4 {
            font-size: 1.8rem;
          }
          p {
            margin-top: 0.7rem;
            font-size: 1.5rem;
          }

          & .quote {
            margin-top: 3rem;

            p {
              font-size: 1.7rem;
            }
          }
        }
        & .para-right {
          padding: 1.5rem;
          margin-top: -7rem;
          h4 {
            font-size: 2rem;
          }
          p {
            font-size: 1.2rem;
            margin-top: 1rem;
            word-spacing: 0.3rem;
          }
        }
      }
    }
    & .right {
      & .close {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .main-container {
    & .left {
      h2 {
        font-size: 2.2rem;
        margin-top: 3rem;
      }
      & .paragraph {
        // grid-template-columns: 50% 50%;
        // gap: 0.1rem;
        display: block;
        margin-top: -6rem;

        & .para-left {
          padding: 0 1.2rem;
          h4 {
            font-size: 1.4rem;
          }
          p {
            font-size: 1.2rem;
          }

          & .quote {
            margin-top: 3rem;

            p {
              font-size: 1.5rem;
            }
          }
        }
        & .para-right {
          padding: 1.5rem;
          margin-top: -7rem;
          h4 {
            font-size: 1.8rem;
          }
          p {
            font-size: 1.2rem;
            margin-top: 1rem;
            word-spacing: 0.3rem;
          }
        }
      }
    }
    & .right {
      & .close {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
