.landing-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(3deg, #6c63ff, #d53f7e);
  overflow: hidden;
}

.landing-container .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landing-container .bg-image .image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: url(https://firebasestorage.googleapis.com/v0/b/crown-db-32445.appspot.com/o/home-2.svg?alt=media&token=dd15680c-a6c7-4aa6-b5fc-55fc05cff72f) no-repeat center;
}

.landing-container .logo {
  position: absolute;
  top: 6%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  -webkit-animation: logo-animate 2s forwards ease-in;
          animation: logo-animate 2s forwards ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.landing-container .logo img {
  width: 40px;
  height: 40px;
}

.landing-container .para {
  position: absolute;
  display: block;
  width: 50%;
  top: 15%;
  left: -100%;
  -webkit-animation: para-animate 2s forwards ease-in;
          animation: para-animate 2s forwards ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: white;
}

.landing-container .para p {
  font-size: 10rem;
  font-weight: bold;
}

.landing-container .footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 5%;
  left: 35%;
  opacity: 0;
  -webkit-animation: footer-animate 1s forwards ease-in;
          animation: footer-animate 1s forwards ease-in;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.landing-container .footer a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-right: 5rem;
}

.landing-container .footer .cool-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.landing-container .footer .cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.landing-container .footer .cool-link:hover::after {
  width: 100%;
}

.landing-container .arrow {
  background-color: transparent;
  width: 15rem;
  height: 2rem;
}

.landing-container .arrow h3 {
  font-size: 2rem;
  font-weight: normal;
  color: white;
}

.landing-container .arrow .line {
  background-color: white;
  height: 0.2rem;
  width: 10rem;
}

.landing-container .arrow .triangle {
  border-top: 0.5rem solid transparent;
  border-left: 1rem solid white;
  border-bottom: 0.5rem solid transparent;
  margin-left: 10rem;
  margin-top: -0.6rem;
}

@-webkit-keyframes footer-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes footer-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes para-animate {
  form {
    left: -50%;
  }
  to {
    left: 35%;
  }
}

@keyframes para-animate {
  form {
    left: -50%;
  }
  to {
    left: 35%;
  }
}

@-webkit-keyframes logo-animate {
  from {
    -webkit-transform: translate(1000%, 700%);
            transform: translate(1000%, 700%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes logo-animate {
  from {
    -webkit-transform: translate(1000%, 700%);
            transform: translate(1000%, 700%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 1;
  }
}

@-webkit-keyframes logo {
  to {
    top: 10%;
  }
}

@keyframes logo {
  to {
    top: 10%;
  }
}

@-webkit-keyframes bg-animate {
  from {
    width: 100%;
    background-position-x: 100%;
  }
  to {
    width: 50%;
    background-position-x: 30%;
    margin-left: 20%;
  }
}

@keyframes bg-animate {
  from {
    width: 100%;
    background-position-x: 100%;
  }
  to {
    width: 50%;
    background-position-x: 30%;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 1440px) {
  .landing-container .logo img {
    left: 3.5%;
    top: 0%;
  }
  .landing-container .para p {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 1024px) {
  .landing-container .logo img {
    left: 3.5%;
    top: 0%;
  }
  .landing-container .para {
    width: 40%;
  }
  .landing-container .para p {
    font-size: 9rem;
  }
  .landing-container .footer a {
    font-size: 1.5rem;
  }
  .landing-container .footer .arrow h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .landing-container .logo {
    left: 3.5%;
    top: 0%;
  }
  .landing-container .logo img {
    width: 25px;
    height: 25px;
  }
  .landing-container .para {
    top: 30%;
  }
  .landing-container .para p {
    font-size: 6.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .landing-container .logo {
    left: 4.5%;
    top: 0%;
  }
  .landing-container .logo img {
    width: 20px;
    height: 20px;
  }
  .landing-container .para {
    top: 30%;
    margin-left: -12%;
  }
  .landing-container .para p {
    font-size: 4.5rem;
  }
  .landing-container .footer {
    width: 100%;
    margin-left: -14%;
  }
  .landing-container .footer a {
    font-size: 1.1rem;
  }
  .landing-container .footer .arrow h3 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 375px) {
  .landing-container .logo {
    left: 4.5%;
    top: 0%;
  }
  .landing-container .logo img {
    width: 20px;
    height: 20px;
  }
  .landing-container .para p {
    font-size: 4rem;
  }
  .landing-container .footer {
    margin-left: -25%;
  }
}

@media only screen and (max-width: 320px) {
  .landing-container .logo {
    left: 4%;
    top: 0%;
  }
  .landing-container .logo img {
    width: 20px;
    height: 20px;
  }
  .landing-container .para p {
    font-size: 3.5rem;
  }
  .landing-container .footer {
    margin-left: -25%;
  }
}
/*# sourceMappingURL=LandingPage.css.map */